services:
  inference-service:
    image: inference
    build:
      context: ./Inference
      dockerfile: Dockerfile
    ports:
      - "8080:5000"

  fetch-future-data-service:
    image: fetch
    build:
      context: ./FetchFutureDataService
      dockerfile: Dockerfile
    ports:
      - "8081:5001"

  event-scoring-service:
    image: event
    build:
      context: ./EventImpactScoringSystem
      dockerfile: Dockerfile
    ports:
      - "8082:5002"

  station-service:
    image: station
    build:
      context: ./StationService
      dockerfile: Dockerfile
    ports:
      - "8083:5003"

  frontend-service:
    image: frontend
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    ports:
      - "8084:5004"
