services:
  inference-service:
    image: inference
    container_name: inference
    build:
      context: ./Inference
      dockerfile: Dockerfile
    depends_on:
      - station-service
      - fetch-future-data-service
  fetch-future-data-service:
    image: fetch
    container_name: fetch
    build:
      context: ./FetchFutureDataService
      dockerfile: dockerfile
    depends_on:
      - event-scoring-service
  event-scoring-service:
    image: event
    container_name: event
    build:
      context: ./EventImpactScoringSystem
      dockerfile: Dockerfile
  station-service:
    image: station
    container_name: station
    build:
      context: ./StationService
      dockerfile: Dockerfile
  frontend-service:
    image: frontend
    container_name: frontend
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    ports:
     - "80:3000"
    depends_on:
      - inference-service