.sidebar {
  width: 20%;
  height: 100%;
  background-color: #000000;
  color: #fff;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.navList {
  list-style: none;
  padding: 0;
  width: 100%;
}

.navList li {
  margin: 1em 0;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navList li:hover,
.navList li.active {
  color: #72b9ff;
}
