name: docker-ci

on:
  push:
    branches:
      - FutureDataService
    paths:
      - 'Inference/**'
      - 'Frontend/**'
      - 'StationService/**'
      - 'EventImpactScoringSystem/**'
      - 'FetchFutureDataService/**'
      - '.github/workflows/**'
      - 'docker-compose.yml'
  pull_request:
    branches:
      - FutureDataService

jobs:
  check-changes:
    runs-on: ubuntu-latest
    outputs:
      inference_changed: ${{ steps.determine-changes.outputs.inference_changed }}
      frontend_changed: ${{ steps.determine-changes.outputs.frontend_changed }}
      stationservice_changed: ${{ steps.determine-changes.outputs.stationservice_changed }}
      eventimpactscoringsystem_changed: ${{ steps.determine-changes.outputs.eventimpactscoringsystem_changed }}
      fetchfuturedataservice_changed: ${{ steps.determine-changes.outputs.fetchfuturedataservice_changed }}
      docker_compose_changed: ${{ steps.determine-changes.outputs.docker_compose_changed }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2  # Fetch the previous commit

      - name: Determine changed directories
        id: determine-changes
        run: |
          changed_dirs=$(git diff --name-only HEAD~1 HEAD | xargs -I {} dirname {} | sort | uniq)
          echo "Changed directories: $changed_dirs"
          echo "::set-output name=inference_changed::false"
          echo "::set-output name=frontend_changed::false"
          echo "::set-output name=stationservice_changed::false"
          echo "::set-output name=eventimpactscoringsystem_changed::false"
          echo "::set-output name=fetchfuturedataservice_changed::false"
          echo "::set-output name=docker_compose_changed::false"
          for dir in $changed_dirs; do
            if [ "$dir" == "Inference" ]; then
              echo "::set-output name=inference_changed::true"
            elif [ "$dir" == "Frontend" ]; then
              echo "::set-output name=frontend_changed::true"
            elif [ "$dir" == "StationService" ]; then
              echo "::set-output name=stationservice_changed::true"
            elif [ "$dir" == "EventImpactScoringSystem" ]; then
              echo "::set-output name=eventimpactscoringsystem_changed::true"
            elif [ "$dir" == "FetchFutureDataService" ]; then
              echo "::set-output name=fetchfuturedataservice_changed::true"
            fi
            elif [ "$dir" == ".github/workflows" ]; then
              echo "::set-output name=ci_workflow_changed::true"
            fi
          done
          if git diff --name-only HEAD~1 HEAD | grep -q 'docker-compose.yml'; then
            echo "::set-output name=docker_compose_changed::true"
          fi

  build-and-deploy-inference:
    needs: check-changes
    if: needs.check-changes.outputs.inference_changed == 'true' && needs.check-changes.outputs.docker_compose_changed == 'false'
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Add VM to known hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.VM_HOST }} >> ~/.ssh/known_hosts
      - name: Build and push Docker images
        run: |
          docker compose build inference-service
          docker compose push inference-service
      - name: Deploy to VM
        run: |
          scp docker-compose.yml ${{ secrets.VM_USERNAME }}@${{ secrets.VM_HOST }}:~/5SDBDproject
          ssh ${{ secrets.VM_USERNAME }}@${{ secrets.VM_HOST }} '
            cd ~/5SDBDproject &&
            docker compose pull inference-service &&
            docker compose up -d --remove-orphans inference-service
          '

  build-and-deploy-frontend:
    needs: check-changes
    if: needs.check-changes.outputs.frontend_changed == 'true' && needs.check-changes.outputs.docker_compose_changed == 'false'
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Add VM to known hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.VM_HOST }} >> ~/.ssh/known_hosts
      - name: Build and push Docker images
        run: |
          docker compose build frontend-service
          docker compose push frontend-service
      - name: Deploy to VM
        run: |
          scp docker-compose.yml ${{ secrets.VM_USERNAME }}@${{ secrets.VM_HOST }}:~/5SDBDproject
          ssh ${{ secrets.VM_USERNAME }}@${{ secrets.VM_HOST }} '
            cd ~/5SDBDproject &&
            docker compose pull frontend-service &&
            docker compose up -d --remove-orphans frontend-service
          '

  build-and-deploy-stationservice:
    needs: check-changes
    if: needs.check-changes.outputs.stationservice_changed == 'true' && needs.check-changes.outputs.docker_compose_changed == 'false'
    runs-on: ubuntu-latest  
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Add VM to known hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.VM_HOST }} >> ~/.ssh/known_hosts
      - name: Build and push Docker images
        run: |
          docker compose build station-service
          docker compose push station-service
      - name: Deploy to VM
        run: |
          scp docker-compose.yml ${{ secrets.VM_USERNAME }}@${{ secrets.VM_HOST }}:~/5SDBDproject
          ssh ${{ secrets.VM_USERNAME }}@${{ secrets.VM_HOST }} '
            cd ~/5SDBDproject &&
            docker compose pull station-service &&
            docker compose up -d --remove-orphans station-service
          '

  build-and-deploy-eventimpactscoringsystem:
    needs: check-changes
    if: needs.check-changes.outputs.eventimpactscoringsystem_changed == 'true' && needs.check-changes.outputs.docker_compose_changed == 'false'
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Add VM to known hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.VM_HOST }} >> ~/.ssh/known_hosts
      - name: Build and push Docker images
        run: |
          docker compose build event-scoring-service
          docker compose push event-scoring-service
      - name: Deploy to VM
        run: |
          scp docker-compose.yml ${{ secrets.VM_USERNAME }}@${{ secrets.VM_HOST }}:~/5SDBDproject
          ssh ${{ secrets.VM_USERNAME }}@${{ secrets.VM_HOST }} '
            cd ~/5SDBDproject &&
            docker compose pull event-scoring-service &&
            docker compose up -d --remove-orphans event-scoring-service
          '

  build-and-deploy-fetchfuturedataservice:
    needs: check-changes
    if: needs.check-changes.outputs.fetchfuturedataservice_changed == 'true' && needs.check-changes.outputs.docker_compose_changed == 'false'
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Add VM to known hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.VM_HOST }} >> ~/.ssh/known_hosts
      - name: Build and push Docker images
        run: |
          docker compose build fetch-future-data-service
          docker compose push fetch-future-data-service
      - name: Deploy to VM
        run: |
          scp docker-compose.yml ${{ secrets.VM_USERNAME }}@${{ secrets.VM_HOST }}:~/5SDBDproject
          ssh ${{ secrets.VM_USERNAME }}@${{ secrets.VM_HOST }} '
            cd ~/5SDBDproject &&
            docker compose pull fetch-future-data-service &&
            docker compose up -d --remove-orphans fetch-future-data-service
          '

  build-and-deploy-dockercompose:
    needs: check-changes
    if: needs.check-changes.outputs.docker_compose_changed == 'true'
    runs-on: ubuntu-latest
   
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Add VM to known hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.VM_HOST }} >> ~/.ssh/known_hosts
      - name: Build and push Docker images
        run: |
          docker compose build
          docker compose push
      - name: Deploy to VM
        run: |
          scp docker-compose.yml ${{ secrets.VM_USERNAME }}@${{ secrets.VM_HOST }}:~/5SDBDproject
          ssh ${{ secrets.VM_USERNAME }}@${{ secrets.VM_HOST }} '
            cd ~/5SDBDproject &&
            docker compose pull &&
            docker compose up -d --remove-orphans
          '
