# This is a basic workflow to help you get started with Actions

name: Fetch disruptions and save to MongoDB
on:
  push:
      branches: [ "staging" ]
  pull_request:
      branches: [ "staging" ]
  schedule:
    # Planification 1 fois tous les jours
    - cron: "*/60 */24 */1 * *"
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
       - uses: actions/checkout@v3
       - name: Set up Python
         uses: actions/setup-python@v4
         with:
           python-version: "3.11"
       - name: Install dependencies
         run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

       - name: Setting up API Key secrets and mock test
         env:
           TISSEO_API_KEY : ${{ secrets.API_KEY_SARA }}
         run: python scripts/fetch_disruptions.py
